:root {
  --lobster-font-family: "Lobster", cursive;
  --lobster-2-font-family: "Lobster Two", cursive;
  --main-text-font-family: "Open Sans", sans-serif;
  --primary-color: #e0218a;
}

h1 {
  font-family: var(--lobster-2-font-family);
  color: var(--primary-color);
}

.Introductory-paragraph {
  font-family: var(--main-text-font-family);
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}
.carousel-label,
.carousel-info {
  color: var(--primary-color);
  font-family: var(--main-text-font-family);
  background-color: #fff;
  border-radius: 25px;
}
#clip-image {
  clip-path: circle(50% at 50% 50%);
}
